.wrapper {
  display: flex;
  width: 800px;
  height: 162px;
  justify-content: center;
  padding: 0 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.item_pictrue {
  width: 106px;
  height: 106px;
  margin: 28px 6px;
}

.percent {
  font-size: 8px;
}
